@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bienvenidos</h1>
    <p class="lead"> Esta es una aplicación diseñada para el control de contratos de locación.</p>
    <p><a class="btn btn-primary btn-lg">Iniciar sesión &raquo;</a></p>
    <label for="usr">Name:</label>
    <input type="text" class="form-control" placeholder="Usuario">
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Para que sirve?</h2>
        <p>
            Contratos 2.0 te ayuda a llevar el control de los contratos de locación, vencimientos, renovaciones y datos importantes'
        </p>
      
    </div>
    
</div>